

.calculator-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 8rem;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  height: 600px;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calculator label {
  display: block;
  margin-bottom: 10px;
}

.calculator input[type="number"] {
  width: 100%;
  height: 45px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  transition: box-shadow 0.3s ease;
}

.calculator input[type="number"]:focus {
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.calculator button {
  display: block;
  width: 100%;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.calculator button:hover {
  background-color: #304aa8;
}

.results {
  display: flex;
    gap: 2rem;
    justify-content: flex-start;
    margin-top: 4rem;
    text-align: center;
    font-size: 1.5rem;
    color: #000;
}

.results span {
  font-weight: bold;
  color: #435fda;
}
