.calculator-container{
display: flex;
flex-direction: row;
justify-content:center;
align-items: center;
min-height: 100vh;
/* margin-top: 8rem; */
gap: 2rem;
}
/* BMI Calculator CSS */
.bmi-container {
  width: 100%;
  max-width: 600px;
  height: 400px;
 /*  margin: 0 auto; */
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bmi-content {
  display: flex;
  flex-direction: column;
}

.bmi-content label,
.bmi-content input,
.bmi-content button {
  margin-bottom: 10px;
  height: 40px;

  margin-bottom: 1rem;
    height: 40px;
    padding: 0 1rem;
}

.bmi-content button {
  cursor: pointer;
  padding: 10px 15px;
  background-color: #121212;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.bmi-results {
  margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1.5rem;
}

/* BMR Calculator CSS */
.bmr-container {
  width: 100%;
  max-width: 600px;
  /* margin: 20px auto; */
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bmr-content {
  display: flex;
  flex-direction: column;
}

.bmr-content .choose-gender {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.bmr-content label,
.bmr-content input {
  margin-bottom: 1.5rem;
}

.bmr-results { 
display: flex;
justify-content: center;
align-items: center;
gap: 1rem;
text-transform: uppercase;
color: #121212;
}

