.nav-container {
  /* background-image: url("https://images.ctfassets.net/8urtyqugdt2l/5dlGpPoQZMuejdMMyTcamF/dd3f3f493f3f385e5cccc1e85787edde/HEADER_1800x600.jpg"); */
 /*  background-image: url("https://images.ctfassets.net/wl6q2in9o7k3/2mfASRYkQuzQkxjsEQLXel/4d7f3fabd580f44f124b8c51858eab3e/GY79415_SLC-005_INTL_Web_Banner_Desktop_3800x1700px_Dual.jpg?w=3840&q=90"); */
  background-image: url("../../assets/bnr.png");
  background-size: cover;
  background-position: top;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  padding: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}
.categories button {
  width: 110px;
  height: 90px;
  font-size: 16px;
  background-color: #ffffff;
  border: white solid 1px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 2px;
  font-weight: 500;
  font-family: "Montserrat", Helvetica, Arial, sans-serif; 
  margin: 2px;
  padding: 0;
}
.categories button:hover {
  background-color: #131212;
  color: #fff;
  border: black solid 1px;
}
.categories button:active {
  background-color: #131212;
  color: #fff;
  border: black solid 1px;
}
