.nav-container {
   background-image: url("/src/assets/banner.avif");
   background-size: cover;
   background-position: center;
  /* background-color: #4b4b4b;
  color: #fff; */
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  /* padding: 8rem; */
  padding: 8rem 12rem 2rem 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.categories{
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}
.categories button {
  width: 110px;
  height: 90px;
  font-size: 16px;
  background-color: #ffffff;
  border: white solid 1px;
  color: rgb(0, 0, 0);
  /* padding: 5rem; */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 2px;
  font-weight: 600;
  margin: 6px;
}
.categories button:hover {
  background-color: #131212;
  color: #fff;
  border: black solid 1px;
}
.categories button:active {
  background-color: #131212;
  color: #fff;
  border: black solid 1px;
}
