

.planner-container {
  display: flex;
  flex-direction: column;
  justify-content: c;
  align-items: center;
 /*  padding: 20px; */
  min-height: 100vh;
  margin-top: 8rem;
}
.add-new{
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}
.planner-create-button {
  color: white;
  border: none;
  background: black;
  /* padding: 4px; */
}

.planner input {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.planner button:hover {
  /* background-color: rgb(255, 255, 255); */
}

.planner .delete-button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: transparent; 
}

.planner .edit-button {
  position: absolute;
    right: 0px;
    top: 0px;
    border: none;
    border-radius: 50%;
    /* background: whitesmoke; */
    background: transparent;
    cursor: pointer;
    padding: 0;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.save-changes{
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border:none;
  background: transparent;
  padding: 0;
}

.workout-plans {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.workout-plan {
  min-width: 500px;
  height: 600px; 
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
  font-size: 1rem;
  padding: 20px;
  overflow-y: auto; 
} 



.workout-plan-title {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.workout-plan-input {
  margin-bottom: 10px;
}




/* For Firefox */
.workout-plan {
scrollbar-width: thin;
scrollbar-color: #888 #f1f1f1;
}


.workout-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e1e1e1
 
}

.workout-item-content {
  display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.workout-item-sets-reps {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(4 174 255);
}

.workout-item-sets-reps label {
  /* margin-right: 10px; */
}

.workout-item-sets-reps input {
  width: 50px;
}

.search-results {
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
}

.search-results div {
  /* padding: 10px; */
  cursor: pointer;
  display: flex;
  align-items: center;
}

.search-results div:hover {
  background-color: #eee;
}

.search-results img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  margin-right: 10px;
}


.planner-input {
  margin-bottom: 10px;
}

.planner-button {
  margin-bottom: 20px;
}

.search-results {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.search-result-item {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.search-result-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.workout-item-name {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
}

.workout-item-image {
  /* height: 70px; */
  width: 150px;
  cursor: pointer;
  margin: 1rem;
}

.dropdown-menu {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  width: 200px;
  right: 0;
  top: 45px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
  cursor: pointer;
}

.dropdown-item {
  display: block;
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: left;
  width: 100%;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f5f5f5;
}

.dropdown-delete-plan-btn {
  color: rgb(192, 6, 6);
}

.add-workout{
  position: absolute;
    right: 24px;
    top: 0px;
    border: none;
    border-radius: 50%;
    background: whitesmoke;
    /* background: transparent; */
    cursor: pointer;
    padding: 0;
}

.icon-buttons {
  position: absolute;
  top: 0;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.workout-item-sets-reps{
 color: rgb(0, 0, 0);
 text-transform: uppercase;

}

/* For Webkit browsers like Chrome and Safari */
.workout-plan::-webkit-scrollbar {
  width: 5px;
}

.workout-plan::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.workout-plan::-webkit-scrollbar-thumb {
  background: #888;
}

.workout-plan::-webkit-scrollbar-thumb:hover {
  background: #555;
}