.favorite-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 8rem;
  height: 100vh;
}

.single-card-container img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  max-width: 100%;
  width: 100%;
}

.single-card-container {
  position: relative;
  width: 350px;
  padding-top: 1rem;
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.card-content {
  /* padding: 1rem; */   /* add this back if knappen yeetar åt helvete */
  text-align: center;
  height: 80px;
}

.card-button {
    background: #121212;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 0;
    margin: 6px;
    padding: 6px 2rem;
    gap: 10px;
    text-transform: capitalize;
}

.card-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.favorite-icon {
  color: #121212;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 0 0 0 10px;
}

.card-image {
  position: relative;
}

.favorite-icon {
  position: absolute;
  top: 0;
  right: 1rem;
}