.favorite-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 8rem;
  height: 100vh;
}

.single-card-container img {
  /*   display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  max-width: 100%;
  width: 100%; */

  width: 100%;
  object-fit: cover; /* This will make sure your image covers the div completely without stretching */
  height: 350px; /* Set a fixed height */
}

.single-card-container {
  position: relative;
  width: 350px;
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0rem;
  background: #f5f5f5;
  
}


.card-content {
  /* padding: 1rem;  */
  text-align: center;
  /* height: 70px; */
}


.card-button {
      background: #121212;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 0;
    margin: 14px;
    padding: 6px 2rem;
    
    text-transform: capitalize;
}

.card-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.card-image {
  position: relative;
}

.favorite-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
    color: #121212;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 0 0 0 10px;
}
