* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.App {
  text-align: center;
}

.main-content {
 /*  background-color: whitesmoke; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: center;
  justify-content: center;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  flex-direction: center;
  justify-content: center;
}

.bodypart-buttons{
  /* display: flex;
  gap: 8px */
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,400&family=Roboto:wght@100;300;400;700&display=swap")
